### Mac OS ###
.DS_Store

# Gradle
.gradle
gradle
gradlew
gradlew.bat


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Environment Files ###
.env

### Kafka Data Files for custom server ###
kafka
kafka.log

### Kibana Files ###
kibana.log